body {
    height: 100%;
    scroll-snap-type: y mandatory;
}

.container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y proximity;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

.section>img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section:nth-child(1) {
    background-color: white;
}

.section:nth-child(2) {
    background-color: black;
}